<header class="border-bottom m-0 p-3 corVerde corVerdeBackground">

  <div class="d-flex align-items-center justify-content-between w-100">

    <div class="d-flex align-items-center">
      <img
        src="pataPreta.jpg"
        alt="Logo Patas Felizes"
        height="32"
      >

      <span class="ms-2 fw-bold text-dark">
        Patas Felizes
      </span>
    </div>

    <button
      type="button"
      class="btn btn-sm botaoPadrao"
      (click)="logout()"
    >
      Sair
    </button>

  </div>

</header>