<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body class="corVerdeBackground d-flex align-items-center justify-content-center vh-100">

  <main class="w-100 px-3" style="max-width: 400px;">

    <div class="card border-0 shadow-lg rounded-4">
      <div class="card-body p-5 bg-light rounded-4">

        <form>

          <div class="text-center mb-0">
            <img src="logoCompletoPreto1.png" alt="Logo" class="img-fluid mb-3" style="max-width: 220px;">
            <p class="text-muted mb-0">

              Faça login para acessar o sistema.
            </p>
          </div>

          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              required>
            <label for="floatingInput">Endereço de Email</label>
          </div>

          <div class="form-floating mb-4">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Senha"
              required>
            <label for="floatingPassword">Senha</label>
          </div>

          <button class="btn btn-custom-escuro w-100 py-3 fw-semibold rounded-3" type="submit">
            Entrar
          </button>

        </form>

      </div>
    </div>

  </main>

</body>

</html>