<aside class="sidebar text-bg-dark">
  <nav>
    <ul class="nav nav-pills flex-column gap-1">

      @for (item of itensMenu; track item.rota) {
        <li class="nav-item">

          <a
            class="nav-link sidebar-link"
            [routerLink]="item.rota"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            #rla="routerLinkActive"
            [class.text-white]="!rla.isActive"
          >
            <i
              class="bi me-2 sidebar-icon"
              [ngClass]="item.classeIcone"
            ></i>

            <span>{{ item.rotulo }}</span>
          </a>

        </li>
      }

    </ul>
  </nav>
</aside>