<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
  <ul class="nav nav-pills flex-column mb-auto">
    
    @for (item of itensMenu; track item.rota) {
      <li class="nav-item">
        <a [routerLink]="item.rota" 
           routerLinkActive="active" 
           #rla="routerLinkActive"
           [class.text-white]="!rla.isActive"
           class="nav-link">
          
          <i [class]="item.classeIcone" class="bi me-2" style="font-size: 1.1rem;"></i>
          
          {{ item.rotulo }}
        </a>
      </li>
    }

  </ul>
</div>