/* You can add global styles to this file, and also import other style files */
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.corVerde {
    color: #0AB378;
}

.corVerdeBackground {
    background-color: #0AB378;
}

.corEscura {
    color: #212529;
}

.corEscuraBackground {
    background-color: #212529;
}

/* Efeito ao passar o mouse */
.botaoPadrao:hover {
    background-color: #088A5C;
    /* Verde mais escuro que o #0AB378 */
    /* Garante que o texto continue branco */
    cursor: pointer;
    /* Transforma a seta do mouse na mãozinha de clique */
}

.botaoPadrao {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    /* Sem cor por padrão */
    border: 1px solid transparent;
    /* Borda invisível por padrão */
    padding: 0.375rem 0.75rem;
    /* Espaçamento interno padrão */
    font-size: 1rem;
    border-radius: 0.375rem;
    /* Cantos arredondados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    /* Suaviza efeitos de hover/foco */
}

/* Cor de fundo padrão do botão */
.btn-custom-verde {
    background-color: #0AB378 !important; /* Substitua pela sua cor (ex: Roxo) */
    border-color: #0AB378 !important;     /* Mantém a borda da mesma cor */
    color: #ffffff !important;            /* Cor do texto (Branco) */
}

/* Cor de fundo quando o mouse passa por cima (Hover) */
.btn-custom-verde:hover {
    background-color: #088A5C !important; /* Um tom mais escuro para o efeito hover */
    border-color: #088A5C !important;
    color: #ffffff !important;
}

.btn-custom-escuro {
    background-color: #212529 !important; /* Substitua pela sua cor (ex: Roxo) */
    border-color: #212529 !important;     /* Mantém a borda da mesma cor */
    color: #ffffff !important;            /* Cor do texto (Branco) */
}

/* Cor de fundo quando o mouse passa por cima (Hover) */
.btn-custom-escuro:hover {
    background-color: #050607 !important; /* Um tom mais escuro para o efeito hover */
    border-color: #050607 !important;
    color: #ffffff !important;
}