/* You can add global styles to this file, and also import other style files */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.corVerde{
    color: #0AB378;
}
.corVerdeBackground{
    background-color: #0AB378;
}

.corEscura{
    color: #212529;
}
.corEscuraBackground{
    background-color: #212529;
}

.botaoPadrao {
    background-color: #212529;
    color: #ffffff; /* Texto em branco */
    border: none;    /* Remove a borda padrão do HTML */
    transition: background-color 0.2s ease; /* Deixa a transição de cor suave */
}

/* Efeito ao passar o mouse */
.botaoPadrao:hover {
    background-color: #088A5C; /* Verde mais escuro que o #0AB378 */
    color: #ffffff;            /* Garante que o texto continue branco */
    cursor: pointer;          /* Transforma a seta do mouse na mãozinha de clique */
}